# ============================================================
# ECHO - GIT IGNORE
# ============================================================


# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/


# Virtual environment
echoenv/
venv/
.venv/
env/


# macOS
.DS_Store


# IDE
.idea/
.vscode/








# ============================================================
# JSON
# Ignore all JSON files except echo_details.json
# ============================================================

json/*.json
!json/echo_details.json


# ============================================================
# AI MODELS
# Ignore all models except custom wake-word model
# ============================================================

models/*

!models/wake_word/
models/wake_word/*

!models/wake_word/hey_echo.onnx


# ============================================================
# LOGS
# ============================================================

*.log
logs/


# ============================================================
# GENERATED AUDIO
# ============================================================

*.wav
*.mp3
*.m4a
*.flac


# ============================================================
# TEMP FILES
# ============================================================

tmp/
temp/
*.tmp
*.bak
*.swptest.txt
